<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter Hotel</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

    {% load static %}
    <link rel="stylesheet" href="{% static 'rooms/css/style.css' %}">
</head>
<body>
    <h2>Ajouter hotel</h2>
    <div class="container">
        <div class="myapp">
            <form method="POST" action="" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <p>Username</p>
                    {{ form.username }}
                </div>

                <div>
                    <p>Address</p>
                    {{ form.address }}
                </div>
                <div>
                    <p>CoordX</p>
                    {{ form.coordX }}
                </div>
                <div>
                    <p>CoordY</p>
                    {{ form.coordY }}
                </div>
                <div>
                    <p>Picture</p>
                    {{ form.geo_image }}
                </div>
                <div>
                    <button type="submit">Submit</button>
                </div>
            </form>
        </div>
        <div class="roomAddress">
            <div>
                <input type="text"  id="address" placeholder="find adress">
            </div>
            <div>
                <br>
                <button onclick="findAddresses()">Find</button>
            </div>
            <div id="addresses" ></div>
            <div id="mapid" class="map">

            </div>
        </div>
        
    </div>
    
   <script type="text/javascript" src="{% static 'rooms/js/app.js' %}"></script>
</body>
</html>